:root{

/* COLORS */
--white: #FFFFFF;
--umber: #8E2424;
--umberTransparent: #8e24241a;
--lightGray: #EAECF0;
--gray: #667085;
--darkGray: #3A404E;
--black: #101828;



/* FONTS */
--inter: 'Inter', sans-serif;


}