.menu{
  width: 100%;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
  justify-content: space-between;


  padding: 1.25rem 7rem;
}

.logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo__img{
  width: 1.7rem;
}

.logo__text{
  color: var(--black);
  font-family: var(--inter);
  font-weight: 500;
  font-size: 18px;
}

.menu__links{
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-left: 5.5rem;
}

.menu--left{
  justify-self: flex-start;
}

.menu__link{
  color: var(--gray);
  text-decoration: none;
  margin-left: 2rem;
}

